<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
      <!--初始化对象容器-->
      <!--<resource uri="assembly://FirstSpringNetApp/FirstSpringNetApp/Objects.xml"/>-->
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd" >
      <description>a demo about ioc/di </description>
      <!--type 某个程序集中的 命名空间类-->
      <object id="Tools" type="Spring.NET.Demo.BaseACK.Human.Car, Spring.NET.Demo.BaseACK" singleton="true" lazy-init="true" />
      <object id="ManInstance" type="Spring.NET.Demo.BaseACK.Human.Man, Spring.NET.Demo.BaseACK" singleton="true" lazy-init="true" />
      <object id="ModernManInstance" type="Spring.NET.Demo.BaseACK.Human.ModernMan, Spring.NET.Demo.BaseACK" singleton="true" lazy-init="true">
        <property name="ITools" ref="Tools">
        </property>
      </object>

      <!--构造函数主任注入 Constructor DI -->
      <object id="ManConstructor" type="Spring.NET.Demo.BaseACK.Human.Man, Spring.NET.Demo.BaseACK" singleton="true" lazy-init="true">
        <constructor-arg name="Name" value="wuyoulu" ></constructor-arg>
      </object>
    </objects>
  </spring>
</configuration>